*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root{
  --text-color:#fff;
  --bg-color:#1b1f24;
  --secound-bg-color:#22282f;
  --main-color:#13bbff;
  --other-color:#c3cad5;

  --h1-font:4.5rem;
  --h2-font:2.9rem;
  --p-font:1rem;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Header Start */
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 12%;
  background-color: transparent;
  transition: all .50s ease;
}

header.sticky{
  background-color: var(--bg-color);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
  padding: 16px 12%;
}

.logo{
  font-size: 35px;
  font-weight: 600;
  color: var(--text-color);
}
 span{
  color: var(--main-color);
}

.navlist{
  display: flex;
}
.navlist a{
  font-size: var(--p-font);
  color: var(--text-color);
  font-weight: 500;
  margin-left: 40px;
  transition: all .50s ease;
}
.navlist a:hover{
  color: var(--main-color);
  box-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
  background-color: transparent;
}
#menu-icon{
  font-size: 35px;
  z-index: 1001;
  cursor: pointer;
  display: none;
}
.h-btn{
  display: inline-block;
  padding: 11px 26px;
  color: var(--main-color);
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  border: 2px solid var(--main-color);
  transition: all .50s ease;
}
.h-btn:hover{
  background-color: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 20px var(--main-color);
  transform: scale(1.1);
}

/* Header Section End */

/* Hero Section Start */
section{
  padding: 110px 12%;
}
.hero{
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  display: flex;
  justify-content: start;
  align-items: center;
}

.main-content h4{
  font-size: 1.6rem;
}
.main-content h1{
  font-size: var(--h1-font);
  font-weight: 900;
  margin: 20px 0px 20px;
  line-height: 1.2;
}
.main-content p{
  font-size: var(--p-font);
  font-weight: 400;
  width: 620px;
  max-width: 100%;
  line-height: 30px;
}
.social{
  margin-top: 20px;
}
.social i{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--main-color);
  border-radius: 50%;
  backdrop-filter: brightness(88%);
  margin-right: 17px;
  font-size: 20px;
  cursor: pointer;
  transition: all .50s ease;
}

.social i:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--main-color);
}
.btn{
  margin-top: 30px;
  display: inline-block;
  padding: 11px 26px;
  background-color: var(--main-color);
  color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 8px ;
  font-size: 15px;
  font-weight: 600;
  transition: all .50s ease;
}

.btn:hover{
  background-color: transparent;
  color: var(--main-color);
  box-shadow: 0 0 20px var(--main-color);
}
.btn2{
  background-color: transparent;
  color: var(--main-color);
  margin-left: 15px;
  transition: all .50s ease;
}
.btn2:hover{
  background-color: var(--main-color);
  color: var(--bg-color);
}
/* Hero Section end */

/* About Section Start */
.about{
  background-color: var(--secound-bg-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6rem;
}
.about-img img{
  width: 100%;
  height: 500px;
  max-width: 530px;
  object-fit: cover;
  background-color: var(--bg-color);
  border: 7px solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--main-color);
}
.about h2{
  font-size: 2.6rem;
  line-height: 1.3;
  margin-bottom: 20px;
}
.exp-area{
  margin-bottom: 50px;
}
.exp-area p{
  color: var(--text-color);
  font-size: 19px;
  font-weight: 600;
  line-height: 42px;
}
.exp-area p span{
  color: var(--other-color);
  font-size: var(--p-font);
  font-weight: 400;
  margin-left: 8px;
}
/* about section end */

/* Services Section Start */
.center-text{
  text-align: center;
}
.center-text h2{
  font-size: var(--h2-font);
}
.services-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2.3rem;
  margin-top: 4.2rem;
}
.box{
  padding: 40px 20px 50px;
  background-color: #2d343f;
  border-radius: 28px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px var(--main-color);
  cursor: pointer;
  transition: all .50s ease;
}
.box img{
  margin-bottom: 20px;
}
.box h3{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.box p{
  font-size: var(--p-font);
  font-weight: 400;
  color: var(--other-color);
  line-height: 28px;
  margin-bottom: 20px;
}
.box a{
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.273rem;
  padding: 7px 0;
  color: var(--text-color);
  border-bottom: 2px solid #5d6c83;
  transition: all .50s ease;
}
.box i{
  vertical-align: middle;
  font-size: 25px;
  color: var(--main-color);
  margin-left: 5px;
}
.box a:hover{
  border-bottom: 2px solid var(--main-color);
}
.box:hover{
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 0 20px var(--main-color);
}

/* Services section end */
.portfolio{
  background-color: var(--secound-bg-color);
}
.portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2.3rem;
  margin-top: 4.2rem;
}
.row{
  background-color: #2d343f;
  border-radius: 28px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px var(--main-color);
  padding: 20px;
  transition: all .50s ease;
}
.row img{
  width: 100%;
  height: auto;
  border-radius: 28px;
  margin-bottom: 1.4rem;
}
.main-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.main-row h1{
  font-size: 20px;
  font-weight: 600;
  color: var(--other-color);
}
.main-row a i{
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  font-size: 25px;
  padding: 4px;
  background-color: #075fe4;
  color: var(--text-color);
  border-radius: 50%;
}
.row h4{
  font-size: 25px;
  font-weight: 700;
  line-height: 1.4;
}
.row:hover{
  transform: translateY(-5px) scale(1.03);
  cursor: pointer;
  box-shadow: 0 0 20px var(--main-color);
}
/* portfolio section end */

/* contact section start */
.contact-form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.2rem;
}
.contact-form form{
  position: relative;
  width: 600px;
}
form input,
textarea{
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px var(--main-color);
  background-color: #2d343f;
  color: var(--text-color);
  border-radius: 8px;
  margin-top: 20px;
}
form input::placeholder,
form textarea::placeholder{
  color: var(--other-color);
  font-size: 15px;
}
form .send-btn{
  display: inline-block;
  padding: 11px 26px;
  background-color: var(--main-color);
  color: var(--bg-color);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600px;
  width: 30%;
  cursor: pointer;
  transition: all .50s ease;
}

form .send-btn:hover{
  background-color: transparent;
  color: var(--main-color);
  box-shadow: 0 0 20px var(--main-color);
}
/* contact section end */

/* footer section start */
.footer{
  background-color: var(--secound-bg-color);
  padding: 35px 12%;
}
.footer-iteam{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 3rem;
  align-items: center;
  gap: 2rem;
}
.ui a{
  font-size: 1.5rem;
}
.ui p{
  width: 200px;
  margin-top: 20px;
  font-size: var(--p-font);
  color: var(--other-color);
}
.social{
  margin-top: 30px ;
}
.page h3{
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.page li{
  padding-bottom: 5px;
}
.page li a{
  color: var(--other-color);
  font-size: var(--p-font);
}
.service-2 h3{
  margin-bottom: 20px;
  font-size: 1.5rem
}
.service-2 li{
  padding-bottom: 10px;
  color: var(--other-color);
  font-size: var(--p-font);
}
.contact-2 h3{
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.contact-2 li{
  padding-bottom: 10px;
  color: var(--other-color);
}
.copyright{
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: var(--other-color);
}
.scroll{
  display: flex;
  justify-content: right;
}
.scroll-top{
  display: flex;
  align-items: center;
  background-color: #075fe4;
  justify-content: center;
   width: 45px;
   height: 45px;
  color: var(--text-color);
  border-radius: 50%;
  font-size: 27px; 
  font-weight: 700;
}
/* footer end */






/* Media quary */

 
  @media screen and (max-width:1280px) {
  header{
    padding: 20px 5%;
  }
  header.sticky{
    padding: 14px 5%;
  }
  section{
    padding: 90px 5% 80px;
  }
  .footer{
    padding: 18px 5%;
  }
}


@media screen and (max-width:1290px){
  .about{
    grid-template-columns: 1fr;
    text-align: center;
    gap: 8rem;
  }
  .about-img{
    text-align: center;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
  }
  .box{
    padding: 40px 40px 46px;
  }
  .box img{
    width: 100%;
    height: 60px;
    max-width: 60px;
  }
  .box h3{
    font-size: 21px;
  }
}
  

@media screen and (max-width:950px){
  :root{
    --h1-font:3.5rem;
  }
  #menu-icon{
    display: block;
  }
  .navlist{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    transition: all .50s ease;
  }
  .navlist a{
    display: block;
    padding: 17px;
    font-size: 22px;
  }
  .navlist .active{
    right: 0;
  }
}




@media screen and (max-width:680px){
  .main-content p{
    width: 100%;
  }
}

@media screen and (max-width: 576px){
  :root{
    --h1-font: 2.7rem;
    --h2-font: 2rem;
  }
  
  .hero{
    background-size: cover;
    padding-top: 150px;
  }
}


@media screen and (max-width: 470px){
  :root{
    --h1-font: 2.2rem;
    --h2-font: 1.5rem;
  }
  .hero{
    background-position: center;
    background-size: cover;
    padding-top: 150px;
  }
  .logo{
    font-size: 1.3rem;
  }
  .footer-iteam{
    grid-template-columns: 2fr;
  }
  form .send-btn{
    width: 100%;
  }
  .h-btn{
    padding: 11px 20px;
  }
}